.materialize-red.lighten-2 {

    background-color: #000 !important;
    /* #ee6e73 */
}

.materialize-red-text.text-lighten-2 {
    color: #000 !important;
    /* #ee6e73 */
    }

    html {
        color: #222;

        font-size: 1em;
        line-height: 1.4;
        font-family: sans-serif;
        /* 1 */
        -ms-text-size-adjust: 100%;
        /* 2 */
        -webkit-text-size-adjust: 100%;
        /* 2 */
    }


html {
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    background-color: #f4f4f4;
    color: rgba(0, 0, 0, 0.87);
}

article {
    display: block;
    color: #555;
    background-color: #fff;
}

.tags {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0 ;
}

.tags li {
    float: left;
}

.tag {
    background: #eee;
    border-radius: 3px 0 0 3px;
    color: #999;
    font-size: 11px;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
}

.tag::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
}

.tag::after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #eee;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}

.tag:hover {
    background-color: crimson;
    color: white;
}

.tag:hover::after {
    border-left-color: crimson;
}

footer.page-footer .footer-copyright {
    /* rodapé de copyright */
    background-color: #000;
    /* rgba(51, 51, 51, 0.08) */
}

nav {
    color: #fff;
    background-color: #000;
    /* ee6e73 */
    width: 100%;
    height: 56px;
    line-height: 56px;
}

.card.small .card-image,
.card.medium .card-image,
.card.large .card-image {


    overflow: hidden;
    max-height: 30%;
    max-width: 100%;
    width: auto;
    height: auto;
}

.card .card-image .card-title {
    /* Título do card */
    color: black;
}

.card .card-action {
    padding: 2px;
}

.btn,
.btn-large {

    background-color: #000;
    /*cor do botão*/

}

.btn:hover,
.btn-large:hover {
    background-color: gray;
    /* cor do botão em evidencia */
}

.side-nav a {
    color: #fff; /** modificado **/
    /* padding: 0 30px; */
}

.side-nav a.btn:hover,
.side-nav a.btn-large:hover,
.side-nav a.btn-large:hover {

    background-color: #000;
}

.side-nav .collapsible-body li.active,
.side-nav.fixed .collapsible-body li.active {
    background-color: #000;
}


/** MODIFICACOES */

.vote a.btn.waves-effect {
    background-color: #ECECEC;
    vertical-align: sub;
    padding-left: 15px;
    padding-right: 15px;
}

div#my-signin2 {
    margin-top: 18px;
}

.modal {
    max-width: 500px;
}

#container2 > div {
    display: inline-block;
}

#container2 {
    text-align: right;
    margin: 0px auto;
    width: 60%;
}

#container3 > div {
    display: inline-block;
}

#container3 {
    text-align: center;
    margin: 0px auto;
}

.waves-effect {
    vertical-align: initial;
    !important/* se não a borda fica fora */
}

.borda-9gag {
    border-right: 1px solid #333;
}

nav .brand-logo {
    position: relative;
}

nav .nav-wrapper,
nav .nav-wrapper .input-field {
    height: 100%;
}

ul.right.hide-on-med-and-down {
    height: 100%;
}

ul.left.hide-on-med-and-down {
    height: 100%;
}

#nav-mobile li.search {
    position: relative;
    left: 0;
    right: 0;
    margin-top: 1px;
    padding: 1px 0 0 0;
    z-index: 2
}

nav .nav-wrapper .input-field-mobile{
    height: 45px;
}

div #search-mobile{
    height: 100%
}


nav #nav-mobile .input-field{
    height: 45px;
}

.botaoAtivado{
    background-color: lightblue;
}

.card .card-content .card-title {
    line-height: 30px;
}

li.categorias div.chip{
    cursor: pointer;
    height: 100%
}

li.categorias div.chip i.material-icons{
    font-size: 2em;
}