<!--  Barra Superior-->
<nav role="navigation">
    <div class="nav-wrapper">
        <!-- Itens localizados na esquerda da barra superior -->
        <ul class="left">
            <!--Menu de tela média e grande-->
            <li><a id="logo-container" href="#!" class="brand-logo" style="padding-right:20px"><i
                    class="small material-icons left" style="margin-left:30px;">shopping_cart</i>PromoGag</a></li>
        </ul>

        <!-- Itens localizados na direita da barra superior -->
        <ul class="right">
            <div ng-controller="LoginController as loginVm">
                <li><a ng-show="!loginVm.usuariologado" href="#modal1" class="waves-effect waves-light modal-trigger"><i
                        class="material-icons left" style="font-size:2rem">perm_identity</i>Entrar</a>
                    <a ng-show="loginVm.usuariologado" ng-click="loginVm.logout()"
                       class="waves-effect waves-light modal-trigger"><i class="material-icons left"
                                                                         style="font-size:2rem">perm_identity</i>Sair</a>
                    <!-- Modal Structure ( Janela do Login)-->
                    <div id="modal1" class="modal">
                        <div class="modal-content" style="color:black">
                            <button class="modal-close btn-flat" style="position:absolute;top:0;right:0;">X</button>
                            <h4 style="font-color:black">Login</h4>
                            <p>Conecte-se através da rede social:</p>
                            <div class="container-login" id="container3">
                                <div class="facebook-login-button" ng-click="loginVm.login()">
                                    <a>
                                        <img src="assets/img/fblogin.png" class="login-button" width="180px">
                                    </a>
                                </div>
                                <!--<div class="google-login-button">
                                    <a>
                                        <img src="assets/img/glogin.png" class="login-button" width="180px">
                                    </a>
                                </div> -->
                            </div>


                        </div>

                    </div>
                </li>
            </div>
        </ul>
        <!-- Itens localizados no sideNav do Mobile (menu)-->

        <!--<a data-activates="nav-mobile" class="button-collapse" style="margin-left: 20px"><i class="material-icons">menu</i></a> -->

    </div>
</nav>

<!--Conteúdo da página-->
<div class="container">
    <!-- Div coluna de conteúdos -->
    <div class="section">

        <div class="row">


            <form name="enviarPromocaoForm" role="form" id="teste" class="col s12 m8" novalidate>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="titulo" name="titulo" type="text"
                               placeholder="[Nome da loja] - Nome do Produto - Preço" ng-model="item.titulo" required/>
                        <p class="formInvalid"
                           ng-show="enviarPromocaoForm.titulo.$invalid && enviarPromocaoForm.titulo.$touched">Por favor,
                            informe o título da promoção!.</p>
                        <label class="active" for="titulo">Título do anúncio</label>

                    </div>

                    <div class="input-field col s4">
                        <!-- preço -->
                        <input id="preco" name="preco" type="text" ng-model="item.preco" pformat prefix="R$ " cents=','
                               thousands='.' required/>
                        <label class="active" for="preco">Preço</label>
                    </div>

                    <!-- class: input-field -->
                    <div class="input-field col s12">
                        <textarea id="descricao" name="descricao" class="materialize-textarea" ng-model="item.descricao"
                                  required></textarea>
                        <p class="formInvalid"
                           ng-show="enviarPromocaoForm.descricao.$invalid && enviarPromocaoForm.descricao.$touched">Por
                            favor, informe uma descrição para a promoção!.</p>
                        <label for="descricao">Descrição</label>
                    </div>
                    <!-- class: input-field -->
                    <div class="input-field col s12">
                        <input id="link" name="link" type="url" ng-model="item.link" required/>
                        <p class="formInvalid"
                           ng-show="enviarPromocaoForm.link.$touched && !enviarPromocaoForm.link.$dirty">Por favor,
                            informe o link da promoção!</p>
                        <p class="formInvalid"
                           ng-show="enviarPromocaoForm.link.$touched && (enviarPromocaoForm.link.$invalid && !enviarPromocaoForm.link.$pristine) ">
                            Por favor, informe um link válido!</p>
                        <label for="link">Link da Promoção</label>
                    </div>
                    <!-- class: input-field -->


                </div>
                <!-- class: row -->
                <div class="row">
                    <div class="input-field col s12">
                        <select id="categoria" name="categoria" ng-model="item.categoria" required>
                            <option value="" disabled selected>Escolha a categoria do produto</option>
                            <option value="Celulares e Telefones">Celulares e Telefones</option>
                            <option value="Informática">Informática</option>
                            <option value="Tv e Eletrônicos">Tv e Eletrônicos</option>
                            <option value="Eletrodomésticos">Eletrodomésticos</option>
                            <option value="Moda e Acessórios">Moda e Acessórios</option>
                            <option value="Móveis e Decoração">Móveis e Decoração</option>
                            <option value="Esporte e Lazer">Esporte e Lazer</option>
                        </select>
                        <label>Categoria</label>
                        <p class="formInvalid"
                           ng-show="enviarPromocaoForm.categoria.$invalid && enviarPromocaoForm.categoria.$touched">Por
                            favor, informe uma categoria para a promoção!</p>
                    </div>
                    <div class="file-field input-field col s12">
                        <div class="btn">
                            <span>Fazer upload da imagem</span>
                            <input type="file" ngf-select="formVm.uploadFiles($file)" accept="image/*"
                                   ngf-max-size="1MB"/>

                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path" type="text"/>
                        </div>
                    </div>
                </div>


                <!-- class: row -->


                <button ng-disabled="enviarPromocaoForm.$invalid || !formVm.habilitarUpload || !formVm.imageValid"
                        ng-class="{'disabled' : enviarPromocaoForm.$invalid || !formVm.habilitarUpload}"
                        class="btn waves-effect waves-light" type="submit" name="action"
                        ng-click="formVm.submeterPromocao(item, enviarPromocaoForm)">Enviar
                    <i class="material-icons right">send</i>
                </button>

                <button class="btn waves-effect waves-light" type="reset" name="action"
                        ng-click="formVm.reset(enviarPromocaoForm); item={};">Limpar
                    <i class="material-icons left">delete</i>
                </button>
            </form>
            <!-- class: form/ -->
        </div>
        <!--class: row/ -->
    </div>
    <!--class: section/ -->
</div>
<!-- class: container/-->