<!--  Barra Superior-->
<nav role="navigation">
    <div class="nav-wrapper">


        <!-- Itens localizados na esquerda da barra superior -->
        <ul class="left hide-on-med-and-down">
            <!--Menu de tela média e grande-->
            <li><a id="logo-container" href="#!" class="brand-logo borda-9gag" style="padding-right:20px"><i
                    class="small material-icons left" style="margin-left:30px;">shopping_cart</i>PromoGag</a></li>
            <li><a class="waves-effect waves-light borda-9gag"
                   ng-click="mainVm.sort='-(likes-dislikes)'"><i
                    class="small material-icons left">trending_up</i>Hot</a></li>
            <li><a class="waves-effect waves-light borda-9gag"
                   ng-click="mainVm.sort='-pubDate'"><i
                    class="small material-icons left">stars</i>New</a></li>
            <!--<li><a class="waves-effect waves-light borda-9gag" ng-click="mainVm.sort='-(likes-dislikes)'"><i class="small material-icons left">insert_chart</i>Top 10</a></li>-->
            <li class="input-field">
                <input id="search" ng-model="mainVm.searchPromocao.titulo" type="search" required>
                <label for="search"><i class="material-icons">search</i></label><i class="material-icons">close</i></li>
        </ul>

        <!-- Itens localizados na direita da barra superior -->
        <ul class="right">
            <div ng-controller="LoginController as loginVm">
                <li><a href="#/addPromocao" class="waves-effect waves-light borda-9gag-add"><i
                        class="material-icons left">add</i>Enviar</a></li>
                <!-- div ng-show="!loginVm.usuariologado"> -->
                <li><a ng-show="!loginVm.usuariologado" href="#modal1" class="waves-effect waves-light modal-trigger"><i
                        class="material-icons left" style="font-size:2rem">perm_identity</i>Entrar</a>
                    <a ng-show="loginVm.usuariologado" ng-click="loginVm.logout()"
                       class="waves-effect waves-light modal-trigger"><i class="material-icons left"
                                                                         style="font-size:2rem">perm_identity</i>Sair</a>
                    <!-- Modal Structure ( Janela do Login)-->
                    <div id="modal1" class="modal">
                        <div class="modal-content" style="color:black">
                            <button class="modal-close btn-flat" style="position:absolute;top:0;right:0;">X</button>
                            <h4 style="font-color:black">Login</h4>
                            <p>Conecte-se através da rede social:</p>
                            <div class="container-login" id="container3">
                                <div class="facebook-login-button" ng-click="loginVm.login()">
                                    <a>
                                        <img src="assets/img/fblogin.png" class="login-button" width="180px">
                                    </a>
                                </div>
                                <!--<div class="google-login-button">
                                    <a>
                                        <img src="assets/img/glogin.png" class="login-button" width="180px">
                                    </a>
                                </div> -->
                            </div>


                        </div>

                    </div>
                </li>
                <!-- </div> -->

            </div>
        </ul>


        <!-- Itens localizados no sideNav do Mobile (menu)-->
        <ul id="nav-mobile" class="side-nav black">
            <!-- Menu de tela mobile -->
            <li class="black container"><i class="material-icons left black">shopping_basket</i>Menu</li>
            <li class="search input-field">
                <div id="search-mobile">
                    <input id="search2" ng-model="mainVm.searchPromocao.titulo" type="search" placeholder="Procurar..."
                           ng-keypress="mainVm.fecharSideNav($event)">
                    <label for="search2"><i class="material-icons">search</i></label><i class="material-icons">close</i>
                </div>
            </li>
            <li><a class="waves-effect waves-light borda-9gag"
                   ng-click="mainVm.sort='-(likes-dislikes)'"
                   onclick="hideSideNav()"><i class="small material-icons left">trending_up</i>Hot</a></li>
            <li><a class="waves-effect waves-light borda-9gag"
                   ng-click="mainVm.sort='-pubDate'"
                   onclick="hideSideNav()"><i class="small material-icons left">stars</i>New</a></li>
            <!--<li><a class="waves-effect waves-light " ng-click="mainVm.sort='-(likes-dislikes)'" onclick="hideSideNav()"><i class="material-icons left" style="font-size:2em">insert_chart</i>Top 10</a></li>-->
        </ul>
        <a data-activates="nav-mobile" class="button-collapse" style="margin-left: 20px"><i
                class="material-icons">menu</i></a>

    </div>
</nav>

<!--Conteúdo da página-->
<div class="container">
    <!-- Div coluna de conteúdos -->
    <div class="section">

        <div class="row">

            <div class="col s12 m4">
                <span class="flow-text">
                        <ul class="collection">
                            <li class="collection-item categorias" ng-init="index = -1">
                                <p>Categorias</p>

                                <div class="chip" ng-class="{'botaoAtivado' : index == -1 }"
                                     ng-click="index = -1; mainVm.selecionarCategoria(index)">
                                    Todos
                                    <i class="material-icons">apps</i>
                                </div> <!-- class: chip/ -->
                                <br><br>
                                <div class="chip" ng-class="{'botaoAtivado' : index == 0 }"
                                     ng-click="index = 0; mainVm.selecionarCategoria(index)">
                                    Celulares e Telefones
                                    <i class="material-icons">smartphone</i>
                                </div> <!-- class: chip/ -->
                                <br><br>
                                <div class="chip" ng-class="{'botaoAtivado' : index == 1 }"
                                     ng-click="index = 1; mainVm.selecionarCategoria(index)">
                                    Informática
                                    <i class="material-icons">computer</i>
                                </div> <!-- class: chip/ -->
                                <br><br>
                                <div class="chip" ng-class="{'botaoAtivado' : index == 2 }"
                                     ng-click="index = 2; mainVm.selecionarCategoria(index)">
                                    TV e Eletrônicos
                                    <i class="material-icons">tv</i>
                                </div>
                                 <br><br>
                                <div class="chip" ng-class="{'botaoAtivado' : index == 3 }"
                                     ng-click="index = 3; mainVm.selecionarCategoria(index)">
                                    Eletrodomesticos
                                    <i class="material-icons">devices</i>
                                </div> <!-- class: chip/ -->
                                 <br><br>
                                <div class="chip" ng-class="{'botaoAtivado' : index == 4 }"
                                     ng-click="index = 4; mainVm.selecionarCategoria(index)">
                                    Moda e Acessórios
                                    <i class="material-icons">watch</i>
                                </div> <!-- class: chip/ -->
                                 <br><br>
                                <div class="chip" ng-class="{'botaoAtivado' : index == 5 }"
                                     ng-click="index = 5; mainVm.selecionarCategoria(index)">
                                    Móveis e Decoração
                                    <i class="material-icons">color_lens</i>
                                </div> <!-- class: chip/ -->
                                 <br><br>
                                <div class="chip" ng-class="{'botaoAtivado' : index == 6 }"
                                     ng-click="index = 6; mainVm.selecionarCategoria(index)">
                                    Esporte e Lazer
                                    <i class="material-icons">toys</i>
                                </div> <!-- class: chip/ -->
                            </li> <!-- class: colection-item/ -->
                        </ul> <!-- class: collection/ -->
                    </span>
                <!-- class: flow-text/ -->
            </div>
            <!-- class: col s12 m4/ -->
            <div class="col s12 m6">
                <span class="flow-text"><!--marcador-->
                    <!--<div infinite-scroll='mainVm.loadMore()' infinite-scroll-distance='0.1'>-->
                        <div class="card"
                             dir-paginate="itemPromocao in mainVm.itensPromocao | orderBy:mainVm.sort | filter:mainVm.searchPromocao | filter:mainVm.categoriaSelecionada | itemsPerPage:10 track by itemPromocao.id">
                                <div class="infoProfile">
                                    <img ng-src="{{itemPromocao.profilePicture}}" alt="" class="circle">
                                    <span style="padding-left: 5px"> {{itemPromocao.nameUser}}</span>
            </div>
            <div class="card-image">
                <a href="#/promocaoDetail/{{itemPromocao.id}}" class="imgFrame">
                    <img data-ng-src="{{itemPromocao.imagePath}}" class="responsive-img">
                    <span class="thread-price imgFrame-overlay">{{itemPromocao.preco | currency}}</span>
                </a>

            </div>
                            <!--class: card-image/ -->
            <div class="card-content" style="font-size: 15px">
                <span class="card-title">{{itemPromocao.titulo}}</span>
                <p style="color:red">{{itemPromocao.pubDate | date:'medium'}} </p>
                <p>{{itemPromocao.descricao}}
                    <br><a ng-href={{itemPromocao.link}}>Link da oferta</a></p>
                <div class="chip"> {{itemPromocao.categoria}} </div>
            </div>
                            <!--class: card-content/ -->
            <div class="card-action">
                <!-- mudar Botao para Setas <a class="btn-floating btn-small green"></a> -->
                <div class="vote">
                    <a class="btn waves-effect" style="margin-left: 15px" ng-click="mainVm.plusOne(itemPromocao)"><i
                            class="material-icons" style="font-size: 30px; color: darkgreen;">thumb_up</i></a> &nbsp;&nbsp;&nbsp;

                    <a class="btn waves-effect" ng-click="mainVm.minusOne(itemPromocao)"><i class="material-icons"
                                                                                            style="font-size: 30px; color: darkred;">thumb_down</i></a> &nbsp;&nbsp;&nbsp;

                    <span class="pontos">Pontos: {{itemPromocao.likes-itemPromocao.dislikes}}</span>
                    <!-- Comentario <i class="material-icons right" style="font-size: 30px; position: relative; color: #d5d6da">chat_bubble</i> -->
                </div>


            </div>
                            <!--class: card-action-->
        </div>
                    <!--class: card-->
                    <!--</div> -->
    </span>
                <!--class: flow-flex/ -->
                <dir-pagination-controls boundary-links="true"></dir-pagination-controls>
            </div>
            <!--class: col s12 m5/ -->

        </div>
        <!--class: row/ -->

    </div>

    <!--class: section/ -->
    <!-- Back to top -->
    <a href="#0" class="cd-top"></a>

    <script src="assets/js/back-to-top/js/main.js"></script>
    <script src="assets/js/back-to-top/js/modernizr.js"></script>
</div>
<!-- class: container/-->

